.formLayout {
  border: 3px solid grey;

  .formTitle {
    margin-left: 1rem;
  }

  .titlebox {
    width: 500px;
    height: 20px;
    padding: 1px;
    margin-bottom: 1rem;
  }

  .contentbox {
    width: 500px;
    height: 100px;
    padding: 1px;
    margin-bottom: 1rem;
  }
  .button {
    margin-bottom: 1rem;
  }
}
